<ion-content>
  <div class="main-div">
    <ion-card class="default-form-style">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color = "primary">
              <h1 class="centra-texto">Registro</h1>
            </ion-text>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-input label="Nombre" placeholder="Ingrese su nombre"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input label="Apellido" placeholder="Ingrese su apellido"></ion-input>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-input label="Usuario" placeholder="Ingrese el usuario"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input label="Correo" placeholder="Ingrese el correo"></ion-input>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="password" label="Repetir password" value="NeverGonnaGiveYouUp">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-col>
        </ion-row>
    
          <ion-col>
            <ion-button class="btn-reg">Registrarse</ion-button>
          </ion-col>
          
        </ion-grid>
    </ion-card>
  </div>
  </ion-content>
       

