<ion-content>
  <div class="main-div">
  <ion-card class="login-form-style">
    <ion-card color="secondary">
    </ion-card>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-text color="primary">
            <h1 class="center-text">
              <h4>Gracias por suscribirte a nuestra página, presiona el botón para comenzar</h4>
            </h1>
          </ion-text>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/login']" class="btn-agradecimiento">Volver a login</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>
</div>
</ion-content>