<ion-content>
  <div class=main-div>
    <ion-card class="card-ticket">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary">
              <h1>Te has desconectado exitosamente</h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- <ion-col>
            <ion-button class="btn-principal">Ir a la página principal</ion-button>
          </ion-col> -->
          <ion-col>
            <ion-button [routerLink]="['/login']" class="btn-iniciar">Iniciar sesión de nuevo</ion-button>
          </ion-col>