div.div-ticket{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-ticket{
    width: 30%;
    height: 50%
}

.btn-comprar{
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
    font-size:smaller;
}

.datetime-align{
    text-align: left;
}

.text-center{
    text-align: center;
}