<ion-content>
  <div class="form-div">
    <ion-card class="login-form-style">
      <ion-card color="secondary"></ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="primary">
              <h1 class="center-text">Login</h1>
            </ion-text>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-input label="Usuario" placeholder="Ingrese el usuario"></ion-input>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button >Entrar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="btn-cuenta">¿no tienes cuenta?</ion-button>
          </ion-col>

        </ion-row>

        <ion-row>

        </ion-row>

      </ion-grid>

    </ion-card>
  </div>
<!-- esto es un comentario -->
</ion-content>