<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-div">
    <ion-card class= "default-list-style">
      <ion-list>
        <ion-item *ngFor="let cine of cines">
          <ion-label class="tamañoLetra">{{cine.nombre}} 
            <ion-button class="btn-cine" size="smaller">Comprar ticket</ion-button></ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>