.btn-principal{
    
    
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;

    font-size:smaller;


}

.btn-iniciar{

    
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;

    font-size:smaller;

}